body {
    margin: 0;
    line-height: normal;
  }
  .fichdddddddddier-16x-1 {
    position: absolute;
    height: 100.01%;
    width: 100.01%;
    top: -0.01%;
    right: 0;
    bottom: 0;
    left: -0.01%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .group-div1 {
    position: absolute;
    height: 111.71%;
    width: 74.06%;
    top: 0.06%;
    right: 100%;
    bottom: -11.76%;
    left: -74.06%;
    transform: rotate(-0.01deg);
    transform-origin: 0 0;
  }
  .agama-div {
    position: absolute;
    height: 6.19%;
    width: 55.39%;
    top: 128.74%;
    right: 109.5%;
    bottom: -34.93%;
    left: -64.89%;
    letter-spacing: -0.17px;
    line-height: 14px;
    display: inline-block;
  }
  .group-div {
    position: absolute;
    height: 25.24%;
    width: 73.7%;
    top: 34.71%;
    right: -50.06%;
    bottom: 40.05%;
    left: 76.36%;
    transform: rotate(89.97deg);
    transform-origin: 0 0;
  }
  .vector-icon,
  .vector-icon1 {
    position: absolute;
    height: 7.58%;
    width: 6.43%;
    top: 92.42%;
    right: 93.57%;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
  }
  .vector-icon1 {
    height: 10.09%;
    width: 10.92%;
    top: 138.63%;
    right: 36.71%;
    bottom: -48.72%;
    left: 52.38%;
  }
  .union-icon,
  .vector-icon3,
  .vector-icon5,
  .vector-icon7 {
    position: absolute;
    height: 1.11%;
    width: 63.2%;
    top: 98.89%;
    right: 36.8%;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
  }
  .union-icon,
  .vector-icon5,
  .vector-icon7 {
    height: 46.44%;
    width: 71%;
    top: 92.42%;
    right: 29%;
    bottom: -38.86%;
  }
  .vector-icon5,
  .vector-icon7 {
    height: 7.27%;
    width: 31.45%;
    top: 116.77%;
    right: -16.86%;
    bottom: -24.04%;
    left: 85.4%;
  }
  .vector-icon7 {
    height: 19.98%;
    width: 62.76%;
    top: 138.61%;
    right: -21.05%;
    bottom: -58.59%;
    left: 58.28%;
  }
  .union-icon1,
  .union-icon2,
  .union-icon3,
  .vector-icon10 {
    position: absolute;
    height: 6.98%;
    width: 24.34%;
    top: 133.59%;
    right: 23.61%;
    bottom: -40.57%;
    left: 52.05%;
    max-width: 100%;
    max-height: 100%;
  }
  .union-icon1,
  .union-icon2,
  .union-icon3 {
    height: 58.93%;
    width: 68.36%;
    top: 26.56%;
    right: -1.93%;
    bottom: 14.51%;
    left: 33.57%;
  }
  .union-icon2,
  .union-icon3 {
    height: 33.61%;
    width: 78.85%;
    top: 90.51%;
    right: 11.49%;
    bottom: -24.13%;
    left: 9.66%;
  }
  .union-icon3 {
    height: 25.02%;
    width: 39.4%;
    top: 78.24%;
    right: -7.51%;
    bottom: -3.26%;
    left: 68.12%;
  }
  .union-icon4,
  .vector-icon14,
  .vector-icon15,
  .vector-icon16 {
    position: absolute;
    height: 45.65%;
    width: 98.79%;
    top: 59.26%;
    right: -16.67%;
    bottom: -4.91%;
    left: 17.87%;
    max-width: 100%;
    max-height: 100%;
  }
  .vector-icon14,
  .vector-icon15,
  .vector-icon16 {
    height: 17.48%;
    width: 17.94%;
    top: 72.27%;
    right: 82.06%;
    bottom: 10.24%;
    left: 0;
  }
  .vector-icon15,
  .vector-icon16 {
    height: 27.75%;
    width: 39.83%;
    top: 72.25%;
    right: 60.17%;
    bottom: 0;
  }
  .vector-icon16 {
    height: 12.43%;
    width: 10.38%;
    top: 48.59%;
    right: 0;
    bottom: 38.98%;
    left: 89.62%;
  }
  .vector-icon18,
  .vector-icon19,
  .vector-icon20,
  .vector-icon21 {
    position: absolute;
    height: 13.04%;
    width: 13.06%;
    top: 4.64%;
    right: 0;
    bottom: 82.32%;
    left: 86.94%;
    max-width: 100%;
    max-height: 100%;
  }
  .vector-icon19,
  .vector-icon20,
  .vector-icon21 {
    height: 11.16%;
    width: 69.26%;
    top: 0;
    bottom: 88.84%;
    left: 30.74%;
  }
  .vector-icon20,
  .vector-icon21 {
    height: 7.53%;
    width: 8.27%;
    right: 91.73%;
    bottom: 92.47%;
    left: 0;
  }
  .vector-icon21 {
    height: 6.98%;
    width: 24.34%;
    top: -23.7%;
    right: 33.77%;
    bottom: 116.72%;
    left: 41.9%;
  }
  .group-icon,
  .vector-icon22,
  .vector-icon23,
  .vector-icon24 {
    position: absolute;
    height: 17.78%;
    width: 73.22%;
    top: 0;
    right: 0;
    bottom: 82.22%;
    left: 26.78%;
    max-width: 100%;
    max-height: 100%;
  }
  .vector-icon22,
  .vector-icon23,
  .vector-icon24 {
    height: 21.27%;
    width: 24.79%;
    top: 7.84%;
    right: 75.21%;
    bottom: 70.89%;
    left: 0;
  }
  .vector-icon23,
  .vector-icon24 {
    height: 12.15%;
    width: 16.59%;
    top: 20.71%;
    right: 83.41%;
    bottom: 67.14%;
  }
  .vector-icon24 {
    height: 18.48%;
    width: 50.58%;
    top: 2.75%;
    right: 21.8%;
    bottom: 78.76%;
    left: 27.62%;
  }
  .group-icon1,
  .union-icon5,
  .union-icon6,
  .vector-icon25 {
    position: absolute;
    height: 61.94%;
    width: 133.82%;
    top: 0;
    right: -33.82%;
    bottom: 38.06%;
    left: 0;
    max-width: 100%;
    max-height: 100%;
  }
  .group-icon1,
  .union-icon6,
  .vector-icon25 {
    height: 12.38%;
    width: 17.79%;
    top: 12.94%;
    right: 68.18%;
    bottom: 74.68%;
    left: 14.03%;
  }
  .group-icon1,
  .union-icon6 {
    height: 68.21%;
    width: 69.4%;
    top: 24.48%;
    right: 30.6%;
    bottom: 7.31%;
    left: 0;
  }
  .union-icon6 {
    height: 44.08%;
    width: 69.08%;
    top: 7.81%;
    right: 30.92%;
    bottom: 48.1%;
  }
  .group-icon2,
  .group-icon3,
  .vector-icon26,
  .vector-icon27 {
    position: absolute;
    height: 41.76%;
    width: 77.1%;
    top: 1.33%;
    right: 0;
    bottom: 56.91%;
    left: 22.9%;
    max-width: 100%;
    max-height: 100%;
  }
  .group-icon3,
  .vector-icon26,
  .vector-icon27 {
    height: 45.67%;
    width: 66.45%;
    top: 19.1%;
    bottom: 35.22%;
    left: 33.55%;
  }
  .group-icon3,
  .vector-icon27 {
    height: 40.37%;
    width: 28.5%;
    top: 49.11%;
    right: 71.5%;
    bottom: 10.52%;
    left: 0;
  }
  .group-icon3 {
    height: 8.07%;
    width: 41.69%;
    top: 0;
    right: 58.31%;
    bottom: 91.93%;
  }
  .intro-after-div {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 896px;
    overflow: hidden;
    text-align: left;
    font-size: 48px;
    color: #588b0a;
    font-family: Rokkitt;
  }
  